    
.header-h1 {
    font-size: 3rem;
    color: color(secondary-variant);
    margin: 2rem;
    position: relative;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    text-shadow: 2rem 2rem 8rem color(secondary);
    animation: 
    pulse 3s ease infinite alternate, 
    nudge 5s linear infinite alternate;
    }

   
    