.cookies-parent {
    margin: 0 auto;
    width: 65rem;
    height: 45rem;
    display: flex;
    align-self: center;
    justify-content: center;
    }


    .cookies {
    height: 20rem;
    position: absolute;
    outline-offset: .5rem;
    transition: all 0.3s;
    }

    .cookies:hover { 
      padding: 10rem;  
      overflow: hidden;
      opacity: 50%; 
      transform: rotate(360deg);
      transform-origin: center;
      filter: grayscale(50%);    
}

  
