.text1-parent {
    margin: 0 auto;
    width: 65rem;
    height: 20rem;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    background: color(secondary-variant);
    }

    .text1 {
        position: absolute;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .text1-parent:hover
    {
            box-shadow:
                    1px 1px #53a7ea,
                    2px 2px #53a7ea,
                    3px 3px #53a7ea;
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    }