.text1-parent {
  margin: 0 auto;
    width: 20rem;
    height: 5rem;
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: red;
}

.text1 {
  color: color(secondary-variant);
  text-align: center;
  font-size: 3rem;
  font-family: 'Lateef', cursive;
  flex-wrap: wrap;
  max-width: 50rem;
  margin: 2rem;
}

.text1-parent {
        opacity:0.3;

}

.text1-parent:hover {
        opacity:0.8;
}