@import "./_variables.scss";
@import "./_animation.scss"; 
@import "./_effect-1.scss";
@import "./_effect-2.scss"; 
@import "./_effect-3.scss";  
@import "./_effect-4.scss";  
@import "./_effect-5.scss"; 

html {
    font-size: 62.5%;
    margin: 0;
    box-sizing: border-box;
    padding: padding;
  }


body {
    background-color: color(background);

}



body {
display: flex;
text-align: center;
justify-content: center;
position: relative;
top: 5rem;
align-items: center;
}

