@import "./_variables.scss";
@import "./_effect-1.scss";
@import "./_effect-2.scss"; 
@import "./_effect-3.scss"; 


html {
    font-size: 62.5%;
    margin: 0;
    box-sizing: border-box;
    padding: padding;
  }


body {
    background-color: color(background);

}

    
.header-h1 {
font-size: 3rem;
color: color(secondary-variant);
margin: 2rem;
position: relative;
text-align: center;
top: 3rem;
font-family: 'Fugaz One', cursive;
text-shadow: 2rem 2rem 8rem color(secondary);
}



